<section class="vh-100 gradient-custom">
  <div class="container py-1 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem">
          <div class="card-body p-5 text-center">
            <div class="mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
              <p class="text-white-50 mb-5">
                Please enter your login and password!
              </p>

              <div data-bs-input-init class="form-outline form-white mb-4">
                <input
                  type="text"
                  id="loginid"
                  name="loginid"
                  class="form-control form-control-lg"
                  placeholder="Login Id"
                  [(ngModel)]="loginObj.loginId"
                />
                <label class="form-label" for="loginid"></label>
              </div>

              <div data-bs-input-init class="form-outline form-white mb-4">
                <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control form-control-lg"
                  placeholder="Password"
                  [(ngModel)]="loginObj.password"
                />
                <label class="form-label" for="password"></label>
              </div>

              <p class="small pb-lg-2">
                <a class="text-white-50" href="/forgot">Forgot password?</a>
              </p>

              <button
                data-bs-button-init
                data-bs-ripple-init
                class="btn btn-outline-light btn-lg px-5"
                type="submit"
                (click)="onLogin()"
              >
                Login
              </button>
            </div>

            <div>
              <p>
                Don't have an account?
                <a routerLink="/register" class="text-white-50 fw-bold"
                  >Sign Up</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
