<!-- Registration 2 - Bootstrap Brain Component -->
<div class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-11 col-lg-8 col-xl-7 col-xxl-6">
        <div class="bg-white p-4 p-md-5 rounded shadow-sm">
          <div class="row">
            <div class="col-12">
              <div class="mb-5">
                <h2 class="h3 text-center">Registration Form</h2>
                <h3 class="fs-6 fw-normal text-secondary m-0 text-center">
                  Enter your details to register
                </h3>
              </div>
            </div>
          </div>
          <form #eform="ngForm" (ngSubmit)="registerFormTemplate()">
            <div class="row gy-3 gy-md-4 overflow-hidden">
              <div class="col-12">
                <label for="loginId" class="form-label"
                  >Login Id<span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="loginId"
                  id="loginId"
                  placeholder="Login Id"
                  [(ngModel)]="register.loginId"
                  required
                />
              </div>
              <div class="col-12">
                <label for="firstName" class="form-label"
                  >First Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="firstName"
                  id="firstName"
                  placeholder="First Name"
                  [(ngModel)]="register.firstName"
                  required
                />
              </div>
              <div class="col-12">
                <label for="lastName" class="form-label"
                  >Last Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  name="lastName"
                  id="lastName"
                  placeholder="Last Name"
                  [(ngModel)]="register.lastName"
                  required
                />
              </div>
              <div class="col-12">
                <label for="email" class="form-label"
                  >Email <span class="text-danger">*</span></label
                >
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="name@example.com"
                  [(ngModel)]="register.email"
                  required
                />
              </div>
              <div class="col-12">
                <label for="password" class="form-label"
                  >Password <span class="text-danger">*</span></label
                >
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="password"
                  [(ngModel)]="register.password"
                  value=""
                  required
                />
              </div>
              <div class="col-12">
                <label for="confirmPassword" class="form-label"
                  >Confirm Password <span class="text-danger">*</span></label
                >
                <input
                  type="password"
                  class="form-control"
                  name="confirmPassword"
                  id="confirmPassword"
                  [(ngModel)]="register.confirmPassword"
                  value=""
                  required
                />
              </div>
              <div class="col-12">
                <label for="phone" class="form-label"
                  >Phone Number <span class="text-danger">*</span></label
                >
                <input
                  type="tel"
                  id="phone"
                  name="phone"
                  class="form-control"
                  pattern="[0-9]{10}"
                  [(ngModel)]="register.contactNumber"
                  required
                /><br />
              </div>
              <div class="col-12">
                <label for="roles" class="form-label"
                  >Roles <span class="text-danger">*</span></label
                >
                <select
                  name="roles"
                  id="roles"
                  class="form-control"
                  [(ngModel)]="register.roles"
                >
                  <option value="ROLE_USER">ROLE_USER</option>
                  <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                </select>
              </div>
              <p class="fw-bold text-center text-success">{{ message }}</p>
              <br />
              <div class="col-12">
                <div class="d-grid">
                  <button class="btn btn-lg btn-dark" type="submit">
                    Sign up
                  </button>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <div class="col-12">
              <hr class="mt-5 mb-4 border-secondary-subtle" />
              <div class="col-12">
                <p class="m-0 text-secondary text-center">
                  Already have an account?
                  <a
                    routerLink="/login"
                    class="link-primary text-decoration-none"
                    >Sign in</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
